body {
  background: #222;
  color: #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: red;
}
.container {
  width: 960px;
  margin: auto;
}
.header {
  width: auto;
  height: 100px;
  border: 1px solid #fff;
  margin: auto;
  text-align: center;
}
.nav {
  text-align: center;
  background: #465693;
  font-size: 20px;
  padding: 5px;
  list-style: none;
  border: 1px solid #fff;
}
.content {
  margin: auto;
  padding: 10px;
  border: 1px solid #fff;
}
